.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    border: 0;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;

    &.icon-action{
        padding:4px;
        font-size: 1.5rem;
        border-radius: 50%;

        &:hover{
            color: var(--tekhelet);
        }

        &.btn-danger{
            
            &:hover{
                color: var(--red);
            }
        }

    }

    &.btn-primary{

        ion-icon{
            font-size: 1.2rem;
        }

        padding: 4px 12px;
        background-color: var(--white);
        color: var(--black);
        border-radius: 16px;
        border: 1px solid var(--black);

        &:hover{
            background-color: var(--tekhelet);
            color: var(--white);
            border-color: var(--white) ;
        }
    }

    &.btn-secondary{
        
        width: 100%;
        margin-top: 16px;
        border-radius: 32px;
        border: 0;
        padding:  12px;
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        cursor: pointer;
        background-color: var(--heliotrope) ;
        color: var(--black);
        height: fit-content !important;
    }
}