menu{
    width: 100%;
    min-width: var(--menu-width);
    max-width: fit-content;
    position: absolute;
    top: 0;
    left: calc(-1 * var(--menu-width));
    height: 100dvh;
    background-color: var(--white);
    padding-block: 12px;
    display: flex;
    flex-direction: column;


    .header-menu{
        display: flex;
        padding-inline: 12px;
        align-items: center;
        gap: 8px;

        ion-icon{
            font-size: 2.2rem;
            color: var(--russian-violet-2);
        }

        .user-details{
            display: flex;
            flex-direction: column;
            gap: 2px;

            .user-name{
                font-weight: 700;
                color: var(--russian-violet-2);
            }
            .user-email{
                font-size: 0.8rem;
            }
        }


    }
    
    .content-menu{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-top: 32px;
        
        h4{
            padding-inline: 12px;
            color: var(--gray);
            margin-bottom: 16px;
        }

        a{
            text-decoration: none;
            color: var(--gray);
            font-size: 1.2rem;
            padding-block: 6px;
            padding-inline: 12px;
            display: flex;
            align-items: center;
            gap: 16px;

            &:hover{
                background-color: var(--mauve);
                color: var(--black);
            }


            ion-icon{
                font-size: 1.4rem;
            }


            &.active-link{
                background-color: var(--tekhelet);
                color: var(--white);
            }
        }
    }

    .footer-menu{
        text-decoration: none;
        color: var(--gray);
        font-size: 1.2rem;
        padding-block: 6px;
        padding-inline: 12px;
        display: flex;
        align-items: center;
        gap: 16px;

        ion-icon{
            font-size: 1.4rem;
        }

        
        &:hover{
            background-color: var(--red);
            color: var(--white);
        }
    }
}