
.button-conteiner{
    display: flex;
    width: 100%;
    margin-top: 16px;

    .button-submit{
        width: 100%;
        border-radius: 32px;
        border: 0;
        padding:  12px;
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        cursor: pointer;
        background-color: var(--heliotrope) ;
        color: var(--black);

        &:hover{
            background-color: var(--mauve);
        }

        &:disabled{
            background-color: var(--gray-light);
            cursor: not-allowed;
        }

    }

    div:has(.spinner){
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .spinner {
        border: 3px solid var(--gray);
        border-left-color: var(--black);
        margin-right: 6px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: inline-block;
        animation: spin 1s linear infinite;
        
        vertical-align: middle;

        &.margin-right{
            margin-right: 8px;
        }
    }

    .spinner {
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }

}



@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}